{% extends "layout.html" %}
<!-- fi -->
{% block title %}Edit contact {{contact.fullname}}{% endblock %}
<!-- fi -->
{% block home %}<a
  href="/"
  class="p-2 text-base bg-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-800 transition-colors"
  >See Contacts</a
>{% endblock %}
<!-- fi -->
{% block body %}
<form action="/update/{{contact.id}}" method="POST">
  <input type="text" name="fullname" placeholder="Fullname" />
  <input type="number" name="phone" placeholder="Phone" />
  <input type="email" name="email" placeholder="Email" />
  <input type="submit" value="Save" />
</form>
{% endblock %}
