<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body class="">
    <header
      class="flex justify-between items-center lg:justify-normal lg:gap-x-20 p-3 pl-5 lg:pl-20 text-lg font-semibold text-slate-100 bg-slate-800"
    >
      Contacts CRUD
      <!-- fi -->
      {% block home %}{% endblock %}
    </header>
    <main class="p-10 pl-20">{% block body %}{% endblock %}</main>
  </body>
</html>
